<div class="row">
    <div class="titleApp ">
        <h1>My First App</h1>
    </div>
</div>
<div class="row">
    <!--
        In the nav tags, we define different links, Metrics, Performance and News
        In classical development, we should use: <a href="path/of/your/page.html"> My page </a>
        Here, we configure the link into AppComponent:
            [routerLink]="['Home']"
             -> Home is the name we defined in AppComponent with the path /metrics and the component
                HomeComponent. So our router know what to display.
    -->
    <nav>
        <a class="menuItem" [routerLink]="['Home']">Home |</a>
        <a class="menuItem" [routerLink]="['About']">About</a>
    </nav>
</div>